.btn {
  background-color: #000000;
  border: 1px solid #007BFF;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgb(158, 158, 158);
}
